@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-cream text-ink caret-tomato;
}

.main-container {
  width: 100%;
  /* Set a default height (can be adjusted) */
  height: 100vh;
}
.time {
  text-shadow: -1px -1px 0 #141414, 1px -1px 0 #141414, -1px 1px 0 #141414,
    1px 1px 0 #141414;
  @apply text-cream;
  /* note: cannot use this soln because it strokes the paths of the variable fonts */
  /* -webkit-text-fill-color: #faf0df;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black; */
  font-weight: 10;
  line-height: 1;
  letter-spacing: -0.5rem;
  margin-left: -0.5rem; /*to counteract the letter-spacing*/
}

.num-monospace {
  font-variant-numeric: tabular-nums lining-nums;
}

/* default landing layout — horizontal */

.landing-name {
  font-size: min(20vw, 250px);
  line-height: 0.75;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  flex-direction: row;

  margin: 4rem 0;
}

.landing-tomato {
  width: 30vw;
  max-width: 300px;
}

/* landscape */
@media (min-aspect-ratio: 1/1) {
  .timer-container {
    display: flex;
    flex-direction: row;
  }
  .time {
    width: 33vw;
    font-size: min(20vw, 300px);
  }
  .tomato {
    width: 20vw;
    max-width: 300px;
    margin-bottom: 3%;
  }
}

/* portrait */
@media (max-aspect-ratio: 1/1) {
  .timer-container {
    display: flex;
    flex-direction: column;
  }
  .time {
    width: 100%;
    font-size: 20vh;
  }
  .tomato {
    width: 20vh;
    max-width: 300px;
  }
}
